<!doctype html>
<html>

<head>
</head>

<body>

        <h3>{{tick}}</h3>
        <div id="plot"></div>



</body>


<footer>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">

        var graphs = {{graphs | safe}};
        var dist = {{ dist | safe }};
        var tick = tick;

        Plotly.plot(plot,graphs.data,graphs.layout);
        

    </script>
</footer>

</html>
    
    